<div vbox #ref='viewContainer' id='main_container'>
  <slim-docs-header #ref='header'></slim-docs-header>
  <div class='hbox'>
    <side-menu
      vbox
      docs-text-styling
      on-item-select='handleItemSelected'
      .items='{{this.menuItems}}'
    ></side-menu>
    <doc-router #ref='viewbox' vbox .default-route={{'welcome'}}></doc-router>
  </div>
</div>
<a
  id='githubButton'
  href="javascript:track('github', 'https://github.com/slimjs/slim.js')"
>
  <span>View on github</span>
  <span>
    <span
      style='width: 255.952px; height: 255.952px; transform: translate(-50%, -50%) translate(72px, 27px);'
    >
    </span>
  </span>
</a>
<style>
  @import url('./index.css'); :host { display: flex; flex-direction: column;
  width: 100%; overflow-y: hidden; } .hbox { display: flex; flex-direction: row;
  height: 100%; overflow-x: hidden; overflow-y: auto; } #main_container {
  height: 100vh; overflow: hidden; } #githubButton { transition: all 0.2s
  ease-in-out; position: fixed; bottom: 1rem; right: 1rem; transform:
  scale(1,1); z-index: 900; display: block; background-color:
  rgba(255,110,64,0.9); box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px
  rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12); text-decoration: none; color:
  white; padding: 0.5rem; font-size: 120%; } #githubButton:hover {
  background-color: rgba(255,110,64,1); transform: scale(1.2, 1.2); bottom:
  1.5rem; right: 1.5rem; }
</style>