<script>
    class SlickButton extends Slim {

        get useShadow() { return true }

        get template() {
            return `<button #component role="button-label" bind>[[text]]</button>`
        }

        createdCallback(x) {
            this.setAttribute('interactive', '')
            super.createdCallback(x)
        }

        onCreated() {
            this.click = this.component.click
        }

        update() {
            this.text = this.getAttribute('text')
            super.update()
        }
    }

    Slim.tag('s-button', SlickButton)
</script>

<style>
</style>