<script>
    class SlickStates extends Slim {

        onBeforeCreated() {
            this.hiddenStates = [];
        }

        getCurrentState() {
            return this.getAttribute('current-state')
        }

        toState(value) {
            if (value !== this.getCurrentState()) this.setAttribute('current-state', value)
        }

        attributeChangedCallback(attr, oldVal, newVal) {
            if (attr === 'current-state') {
                this.update();
            }
        }

        update() {
            Array.prototype.slice.call(this.children).forEach( child => {
                if (child.getAttribute('in-state') !== this.getCurrentState()) {
                    this.removeChild(child);
                    this.hiddenStates.push(child);
                }
            });
            this.hiddenStates.forEach( child => {
                if (child.getAttribute('in-state') === this.getCurrentState()) {
                    this.appendChild(child);
                }
            });

            super.update();
        }

    }
    Slim.tag('s-states', SlickStates )
</script>

<style>

</style>