<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slim Components Showcase</title>
    <script>
        var isChrome;
        try {
            isChrome = typeof window.chrome.webstore === 'object'
        }
        catch (err) {
            isChrome = false;
        }
        if (!isChrome) {
            let s = "<script type=\"text\/javascript\" " +
                    "src=\"https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.23/webcomponents.min.js\"" +
                    " > <\/script> "
            document.write(s)
        }
    </script>

    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        body {
            background-color: #f7f4ed;
            display: flex;
            align-items: center;
            flex-direction: column;
            font-family: 'Verdana', sans-serif;
        }
    </style>

    <script src="../Slim.js"></script>

    <link rel="import" href="slim-notification.html" />
    <link rel="import" href="slim-combo.html" />

</head>
<body>
    <slim-notification type="error">This is an error message</slim-notification>
    <slim-notification type="success">This is a success</slim-notification>
    <slim-notification type="warning">This is a warning</slim-notification>
    This is a combo box <slim-combo></slim-combo>

    <script>
        var items = ['dog', 'cat', 'banana', 'apple', 'candy', 'citroen']
        document.querySelector('slim-combo').onchange = function(value) {
            document.querySelector('slim-combo').items = items.filter( item => {
                return item.indexOf(value) >= 0
            })
        }
    </script>
</body>
</html>