<script>
    Slim.tag('slim-combo', class extends Slim{


        get template() {
            return `<div class="slim-combo"><input slim-id="search" type="text" /><span class="slim-combo-option" slim-repeat="items" bind>[[data]]</span></div>`
        }

        onBeforeCreated() {
            this.items = []
        }

        noOp() {}

        get onChangeInterface() {
            return this.onchange || this.noOp
        }

        onAfterRender() {
            this.search.onchange = (e) => {
                e.stopImmediatePropagation()
                e.stopPropagation()
            }
            this.search.onkeyup = (e) => {
                e.stopPropagation()
                this.onChangeInterface( this.search.value )
            }
            this.onclick = (e) => {
                if (e.srcElement.data) {
                    this.search.value = e.srcElement.data
                    this.onChangeInterface(e.srcElement.data)
                    this.items = []
                }
            }
        }


    })
</script>


<style>
    slim-combo div.slim-combo {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    slim-combo span.slim-combo-option {
        display: inline-flex;
        width: 100%;
        cursor: pointer;
    }
</style>